.navegador{
    background: #1080db;
    width: 700px;
    height: 40px;
    display: flex; 
    align-items: center;
    justify-content: center;
    list-style:none;
}

.navegador .logo{
    color: white;
    cursor: pointer;
    padding: 2%;
}

.navegador .logo img{
    width: 90px;
    height: 40px;
}

.navegador .opcoes{
    margin-left: auto;
    color: white;
    text-decoration: none;
    padding: 9px;
}

.navegador .opcoes .active {
    background-color: #072f50;
    color: white;
    text-decoration: none;
    padding: 9px; 
}

.navegador .opcoes .usuario {
    color: white;
    text-decoration: none;
    padding: 9px;
    
}

.navegador .opcoes .link-navegador{
    color: white;
    text-decoration: none;
    padding: 9px;
}
